/* Reset default browser styles */
body, ul {
    margin: 0;
    padding: 0;
    list-style-type: none; /* Remove default list styling */
}

/* Style the navbar */
.navbar-main {
    background-color: #7b067b; /* Background color */
    overflow: hidden;
}

/* Style the list items */
.nav-item {
    float: left;
    
}

/* Style the links */
.nav-link {
    display: block;
    color: white; /* Text color */
    text-align: center;
    padding: 14px 20px; /* Padding */
    text-decoration: none; /* Remove underline */
}

/* Change the link color on hover */
.nav-link:hover {
    background-color: #ffffff; /* Hover color */
    color: black; /* Hover text color */
}
